{% extends "base.html" %}

{% block content %}
	
	<center>
		<div class="container">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			
			<h1>Search Destination</h1>
	      		<br>
	      		<form action="/results" method="post">
				<div class="form-group">
				<input type="text" placeholder="Enter Destination" name="destination" value="{{ request.form.destination }}">
				</div>
				<div class="form-group">
				<button type="submit" class="btn btn-primary">Show flights</button>
			</form>
			{% if error %}
			<p class="error"><strong>Error:</strong> {{ error }}
			{% endif %}
		</div>
	</center>
{% endblock %}



